[submodule "lib/Sakaar-Struct"]
	path = lib/Sakaar-Struct
	url = https://github.com/Sakaar-BlockChain/Sakaar-Struct
	branch = main

[submodule "lib/Sakaar-CryptoCode"]
	path = lib/Sakaar-CryptoCode
	url = https://github.com/Sakaar-BlockChain/Sakaar-CryptoCode
	branch = main

[submodule "lib/Sakaar-HashCode"]
	path = lib/Sakaar-HashCode
	url = https://github.com/Sakaar-BlockChain/Sakaar-HashCode
	branch = main
